{% extends 'components/navbar.html' %}
{% load static %}
{% block content %}
<h1>Posts:</h1>
{% for post in posts %}
<div class="card" style="width: 18rem;">
    <img src="media/{{ post.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">Rate: {{ post.rate }}</p>
        <p class="card-text">Category: {{ post.category }}</p>

        <p class="card-text">Tags: 
        {% for tag in post.tags.all %}
            {{ tag }} 
        {% endfor %}</p>

        <a href="/post_list/{{ post.id }}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}
{% endblock%}